[credential "https://github.com"]
	helper = 
	helper = "!f() { exec gh auth git-credential \"$@\"; }; f"
[credential "https://gist.github.com"]
	helper = 
	helper = "!f() { exec gh auth git-credential \"$@\"; }; f"
[user]
	name = FlexNetOS
	email = flexnetos@de-flex.net
