[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[user]
	name = FlexNetOS
	email = flexnetos@de-flex.net
[safe]
	directory = /tmp/.tmpn0FWr6
	directory = /tmp/.tmpCyV2MM
	directory = /tmp/.tmpnMMhB8
	directory = /tmp/.tmp1fQkmR
	directory = /tmp/.tmp0DiDVF
	directory = /tmp/.tmpjlCL7a
	directory = /tmp/.tmpaX77Hm
	directory = /tmp/.tmp6GPngj
	directory = /tmp/.tmp5UppWy
	directory = /tmp/.tmplNDxTg
	directory = /tmp/.tmpqtgtGs
	directory = /tmp/.tmptYlhAP
	directory = /tmp/.tmpYw1qmm
	directory = /tmp/.tmphy9gGg
	directory = /tmp/.tmp71Bv2s
	directory = /tmp/.tmpCNdFDC
